/*Primary colors*/
$full-slider-bar: hsl(174, 77%, 80%);
$slider-background: hsl(174, 86%, 45%);
$discount-background: hsl(14, 92%, 95%);
$discount-text: hsl(15, 100%, 70%);
$CTA-text: hsl(226, 100%, 87%);

/*Neutral*/
$pricing-component-background: hsl(0, 0%, 100%);
$main-background: hsl(230, 100%, 99%);
$empty-slider-bar: hsl(224, 65%, 95%);
$toggle-background: hsl(223, 50%, 87%);
$text: hsl(225, 20%, 60%);
$text-CTA-background: hsl(227, 35%, 25%);

.upperCard {
  width: 100%;
  height: 29vh;
  background-color: $pricing-component-background;
  border-radius: 1vh 1vh 0vh 0vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2vh;
}

.container {
  width: 60vh;
  border-radius: 1vh;
  margin-top: 4vh;
  box-shadow: 0px 2px 10px 10px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 2px 10px 10px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 2px 10px 10px rgba(0, 0, 0, 0.05);
}

.pricies {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  div {
    width: 23vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    h1 {
      color: $text-CTA-background;
      font-size: 4vh;
    }
  }
  .pageviews {
    letter-spacing: 2px;
  }
  h4 {
    color: $text;
  }
}
.billing {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 80%;
  p {
    color: $text;
    margin: 5px;
    font-size: 14px;
  }
  .discount {
    background-color: $discount-background;
    width: 9vh;
    height: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2vh;
    margin-right: 2vh;
    margin-left: 1vh;
    h6 {
      color: $discount-text;
      margin: 0px;
    }
  }
}
.lowerCard {
  width: 100%;
  height: 14vh;
  background-color: $pricing-component-background;
  border-radius: 0vh 0vh 1vh 1vh;
  border-top: solid 2px #f1f5fe;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  ul {
    list-style-type: none;
  }
  li {
    color: $text;
    margin: 5px;
    font-size: 14px;
  }
  button {
    margin-right: 6vh;
    width: 20vh;
    height: 5vh;
    border-radius: 3vh;
    border: none;
    background-color: $text-CTA-background;
    color: $pricing-component-background;
    cursor: pointer;
    outline: none;
  }
}
